body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #7fba23;
    font-family: "Open Sans", sans-serif;
    box-shadow: inset 0px 0px 5px 3px rgba(30, 46, 4, 1);
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
    font-family: "Fredoka One", sans-serif;
}

h2 {
    font-size: 4em;
}